/**
 * industrial-spring-assistant
 *
 * @author arnozhang
 * @date 2021/02/18
 */

body {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

a.plain-link {
    text-decoration: none;
}

a.plain-link:hover {
    text-decoration: none;
}

#reactContainer {
    width: 100%;
    height: 100%;
    position: fixed;
}
