/**
 * industrial-spring-assistant
 *
 * @author arnozhang
 * @date 2021/02/18
 */

@import '../../node_modules/antd/dist/antd.css';

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica ,Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", Menlo, Monaco, Consolas, "Courier New", monospace;
}

a.plain-link {
  text-decoration: none;
}

a.plain-link:hover {
  text-decoration: none;
}

#reactContainer {
  width: 100%;
  height: 100%;
  position: fixed;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
